server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/fix_hub?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  sql:
    init:
      mode: never

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
