server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/fix_hub?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: DEBUG
